<div class="h-screen w-full flex bg-[#F3F4F6] font-sans select-none">
  
  <!-- Sidebar -->
  <app-sidebar
    [resume]="resume"
    [sidebarPosition]="sidebarPosition()"
    (resumeChange)="updateResume($event)">
  </app-sidebar>

  <!-- Main area -->
  <div class="flex-1 flex flex-col">
    <app-properties
      class="shrink-0 border-b border-zinc-200"
      [resume]="resume"
      (resumeChange)="updateResume($event)">
    </app-properties>

    <div class="flex-1 flex justify-center items-start p-10 overflow-auto">
      <app-canvas 
        [resume]="resume" 
        (resumeChange)="updateResume($event)">
      </app-canvas>
    </div>
  </div>
</div>
